In [1]:
#!pip install cssselect       # css 소스 중 원하는 것을 크롤링하기 위한 css select
#!pip install selenium        # 페이지 내에 클릭을 구현해주는 selenium
#!pip install lxml            
#!pip install openpyxl         # excel 파일 가공을 위한 openyxl
#!pip install bs4              # 다른 방법의 크롤링을 위한 beautiful soup

In [67]:
import urllib.parse
import time
import requests
import lxml.html
import pandas as pd
from selenium.webdriver import Chrome
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import re
from urllib.request import Request, urlopen

import sys
mod = sys.modules[__name__]

In [77]:
#browser = webdriver.Chrome('C:/Users/parkminwoo/Desktop/R/chromedriver_win32/chromedriver.exe')
browser = webdriver.Chrome('/Users/HumanRevolution/jupytercreation/chromedriver')
url = 'https://www.trip.com/travel-guide/seoul-234/tourist-attractions/'
browser.get(url)

In [78]:
score, text = [],[]

for i in range(2):
    soup = BeautifulSoup(urlopen("https://www.trip.com/travel-guide/seoul-234/tourist-attractions/"+ str(i+1)), "html.parser")
    for link in soup.find("div", {"class":"jsx-2566084683 gl-poi-list_list"}).findAll("a"):
        if 'href' in link.attrs:
            browser.get(link.attrs['href'])
            for i in range(2) :
                try:
                    stars = browser.find_elements_by_css_selector('a')
                    stars = browser.find_elements_by_css_selector('em.cr')
                    stars = browser.find_elements_by_css_selector('span.comment_score')
                    for star in stars:
                        score.append(star.text)
                    reviews = browser.find_elements_by_css_selector('a')
                    reviews = browser.find_elements_by_css_selector('em.cr')
                    reviews = browser.find_elements_by_css_selector('p.mt10')
                    for review in reviews:
                        text.append(review.text)

                    nextpage=browser.find_elements_by_css_selector('button.btn-next')
                    nextpage[0].click()

                except:
                    pass
            data = pd.DataFrame({'score': score, 'text': text})
            filename = '%s.xlsx'%link.attrs['title']
            data.to_excel(filename, encoding='cp949')

In [80]:
len(score), len(text)

(398, 398)

In [66]:
score[-1],text[-1]

('5.0', 'Cox is super big, and the aquarium is where you hear your voice.')

In [10]:
data1 = pd.DataFrame({'names':names, 'href':sites, 'score': score, 'text': text})
data1

   score                                               text
0    5.0  明洞实在人太多了，站在路上放眼望去都是人。地图上看着小小块儿，但是站在路中间，小路一转弯，还...
1    5.0  去首尔怎么都绕不过明洞，在首尔的5天我和小伙伴总结出了一句话：“出来混总是要回明洞的”。我们...
2    5.0  首尔的购物天堂 各种化妆品店服装店商场咖啡厅餐厅聚集地。喜欢购物不要错过 另外在明洞还看了 ...
3    5.0                                 小牌子很多，价格实惠，值得每年去一次
4    5.0  很好玩的地方，逛吃购物皆有，很开心!我们一行四人吃了烧烤，购了化妆品，逛了小铺，满载而归啊！...
..   ...                                                ...
95   5.0  明洞集吃、喝、玩一体，在这里逛一天也不累。好吃的：姜虎东烤肉、古宫、本粥等，小吃也不少：大肠...
96   5.0  人文风气特别好，手机丢了，被捡到直接交到服务台，很意外的连都完好无损的躺在服务台，景色也不错...
97   5.0  明洞人是真的很多，商业店铺也特别的多，在这里吃到了向往的骨头汤饭，感觉所有的人都会来一两句中...
98   5.0  烤龙虾15000，很新鲜，加的芝士，味道不错！商店很多，没什么可买的。晚上的小吃很多，比白天...
99   5.0  第二次去了，怎么说呢，分分钟感觉时间不够用，吃不够逛不够买不够。如果年轻人呢真的建议住明洞方...

[100 rows x 2 columns]

In [ ]:
#data.to_excel('명동.xlsx')
#import pandas as pd
import sys
mod = sys.modules[__name__]
# 2007년부터 2020년까지의 매매기록을
# salse_2007 ~ sales_2020 까지의 데이터프레임으로 각각 저장
for i in range(2007, 2021):
    filename = 'data/시세/아파트매매/아파트(매매)%d.csv'%i
    setattr(mod, 'sales_{}'.format(i), a.to_csv('{}.xlsx'.format(a[0]), encoding='cp949'))